<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<% if current_user != nil then %>
<p> Logged in as: <%= current_user.name %> </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |

<%= link_to 'Posts', posts_path %>
