<p>
  <%= f.label :name, "Image Name" %><br />
  <%= f.text_field :name %><br />
  <%= f.label :description, "Image Description" %><br />
  <%= f.text_field :description %><br />
  <%= f.label :pic %><br />
  <%= f.file_field :pic %><br />
</p>
