

<h1>
<% if @topic.name.split(' ').size < 2  %>
<%= @topic.name.pluralize %>
<% else %>
<%= @topic.name %>
<% end %>
</h1>

<span class="center">
  <p>There are <%= @infos.size %> entries on <%= @topic.name %>  <em> (<%= @topic.systematic_name %>) </em> </p>
  <% if signed_in? and (current_user.has_role? :admin) %>
  <p> <%= link_to 'Add new info paragraph', new_topic_info_path(@topic), class:'btn btn-info' %></p>
  <% end %>
</span>
<% @sorted_infos.each do |i| %>
<% if i.child_of.nil? then %>
<div class="container">
    <ol class="infos">
      <h2><%= i.title %></h2>

      <% if signed_in? %>
      <div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  Action
	  <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	    <%= link_to 'Add sub info', new_topic_info_path(@topic,child_of:i) %>
	    <%= link_to "Delete info", { :action => "destroy", :id => i.id }, :confirm => "Are you sure?", :method => :delete %>
	</ul>
      </div>

	  <span class="buttons">
	    <% if i.relative_layout > 0 then %>
	    <%= button_to '+', promote_topic_info_path(@topic,i), class:'btn btn-mini'  %>
	    <% end %>
	    <%= button_to '-', demote_topic_info_path(@topic,i), class:'btn btn-mini'  %>
	  </span>
	  <% end %>

      <li></li>

      <% pics = i.images %>
      <% pics.each do |p| %>
      <p><%=  p.name  %></p>
      <%= link_to (image_tag p.pic.url(:medium)), p.pic.url(:large)  %>
      <% end %>

<p><%= i.text %></p>
	<% if signed_in? %>
	  </br><p><small>id: <%= i.id %> layout: <%= i.relative_layout %> child_count: <%= @sorted_infos.count{|x| x.child_of == i.id } %> child_of: <%= i.child_of %></small></p>
	  <% end %>

    </ol>
</div>
<% else %>
<div class="container">
    <ol class="subinfos">
      <h3><%= i.title %></h3>

      <% if signed_in? %>
      <span class="buttons">
	    <% if i.relative_layout > 0 then %>
      	<%= button_to '+', promote_topic_info_path(@topic,i),class:'btn'%>
	    <% end %>
      	<%= button_to '-', demote_topic_info_path(@topic,i), class:'btn'%>
      	<%= button_to "Delete", { :action => "destroy", :id => i.id }, :confirm => "Are you sure?", :method => :delete, class:'btn-danger' %>
      	</span>
      <% end %>

      <li></li>
      <% pics = i.images %>
      <% pics.each do |p| %>
      <p><%=  p.name  %></p
      <%= link_to (image_tag p.pic.url(:medium)), p.pic.url(:large)  %>
      <% end %>
	<p><%= i.text %></p>
	<% if signed_in? %>
	<p><small>id: <%= i.id %> layout: <%= i.relative_layout %> child_count: <%= @sorted_infos.count{|x| x.child_of == i.id } %> child_of: <%= i.child_of %></small></p>
	<% end %>
    </ol>

</div>
<% end %>
<% end %>

